astroid==2.2.5
async-generator==1.10
async-lru==1.0.1
beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
deezloader==5.4.1
idna==2.8
isort==4.3.20
lazy-object-proxy==1.4.1
mccabe==0.6.1
mutagen==1.42.0
pyaes==1.6.1
pycrypto==2.6.1
pylint==2.3.1
pymediawiki==0.6.1
Pyrogram===0.15.0-asyncio
PySocks==1.7.0
python-dotenv==0.10.3
redis==3.2.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.2
spotipy==2.22.1
TgCrypto==1.2.0
tqdm==4.32.2
typed-ast==1.4.0
urllib3==1.25.3
walrus==0.7.1
wrapt==1.11.2
youtube-dl==2019.6.27
